<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>DemoServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>deviceinsert</servlet-name>
    <servlet-class>com.java.servlet.DeviceInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>devicelist</servlet-name>
    <servlet-class>com.java.servlet.DeviceListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>devicesearch</servlet-name>
    <servlet-class>com.java.servlet.DeviceSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>devicelist</servlet-name>
    <url-pattern>/devicelist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deviceinsert</servlet-name>
    <url-pattern>/deviceinsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>devicesearch</servlet-name>
    <url-pattern>/devicesearch</url-pattern>
  </servlet-mapping>
</web-app>