<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>DemoServlet</display-name>

	<welcome-file-list>
		<welcome-file>partialview/nav.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DeviceList</servlet-name>
		<servlet-class>com.java.servlet.DeviceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeviceDetail</servlet-name>
		<servlet-class>com.java.servlet.DeviceServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeviceEdit</servlet-name>
		<servlet-class>com.java.servlet.DeviceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeviceList</servlet-name>
		<url-pattern>/device/list</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeviceDetail</servlet-name>
		<url-pattern>/device/detail/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeviceEdit</servlet-name>
		<url-pattern>/device/edit/*</url-pattern>
	</servlet-mapping>

</web-app>